header{
  background-color: lavenderblush;
  text-align: center;
  text-transform: uppercase;
  color: dimgrey;
  padding: 1%;
  font-weight: bold;
  font-size: 1.2em;
  font-family: georgia, "Times New Roman";
}
nav{
  background-color: aliceblue;
  padding: 1%;
  vertical-align: middle;
  clear:both;
}
article{
  background-color: beige;
  padding: 0.5%;
  float: right;
  width:84%;
}
section{
  background-color: mistyrose;
  margin: 0.5%;
  border: 1px solid black;
}
aside{
  background-color: whitesmoke;
  float: left;
  width:14%;
  padding: 0.5%;
}
footer{
  background-color: honeydew;
  clear: both;
  width:100%;
  vertical-align: middle;
}
h1{
  text-align: center;
}
.textoSeccion{
  background-color: wheat;
  padding:2.5%;
  text-align: justify;
}
.textoAside{
  background-color: lavender;
  padding:0.5%;
}
#footerTit{
  text-align: center;
  font-weight: bold;
  padding-bottom: 0.5%;
}
.footerEl{
  float:left;
  margin: 0 auto;
  width:25%;
  text-align: center;
  background-color: lightcyan;
}
.navEl{
  float:left;
  margin: 0 auto;
  width:33%;
  text-align: center;
  background-color: ivory;
  padding: 1px;
}
.navIcon{
  vertical-align: center;
  align-items: center;
  width:33%;
  margin: -10%;
}
.navEl:hover{
  background-color: wheat;
  border: 1px solid black;
  padding: 0px;
}
a:hover{
  color: dimgrey;
}
