.principalImg{
  width:25%;
  border: 5px dashed DarkGoldenRod;
}
.divImgPrincipal{
  text-align: center;
  width:100%;
}
.formulario{
  background-color: Thistle;
  padding: 2%;
  border-radius: 3em;
  border: 2px solid SeaShell;
}
#botonEnviar{
  background-color: lightcyan;
  border: none;
  color: black;
  padding: 1% 2%;
  margin: 1%;
}
#botonEnviar:hover{
  background-color: grey;
  border: 2px solid black;
  color: white;
}
section{
  border: 1px solid black;
}
