/* Estilos para sobremesa */
@media only screen and (min-width: 768px){
  article{
    float: right;
    width:84%;
  }
  aside{
    float: left;
    width:14%;
  }
}
/* Estilos para movil */
@media only screen and (max-width: 768px){
  article{
    float: none;
    width:auto;
  }
  aside{
    float: none;
    width:auto;
  }
}
.preSeccionImg{
  height:35em;
  border: 5px dashed DarkGoldenRod;
}
.divImgPreSeccion{
  margin: 2% 0 2% 0;
  text-align: center;
  width:100%;
}
section{
  border: 1px solid black;
}
