/* Estilos para sobremesa */
@media only screen and (min-width: 768px){ /*El aside se pone a un lado y article ocupa la mayor parte de la pantalla*/
  article{
    float: right;
    width:84%;
  }
  aside{
    float: left;
    width:14%;
  }
}
/* Estilos para movil */
@media only screen and (max-width: 768px){ /*El aside se queda arriba y no ocupa ancho de la pantalla*/
  article{
    float: none;
    width:auto;
  }
  aside{
    float: none;
    width:auto;
  }
}
.preSeccionImg{ /*Estilo de las imagenes que aparecen antes de la seccion*/
  height:35em;
  border: 5px dashed DarkGoldenRod;
}
.divImgPreSeccion{ /*Contenedor de las imagenes que aparecen antes de la seccion*/
  margin: 2% 0 2% 0;
  text-align: center;
  width:100%;
}
section{ /*Resalta las secciones*/
  border: 1px solid black;
}
