/*Estilo para sobremesa*/
@media only screen and (min-width: 768px){/*El aside se pone a un lado y article ocupa la mayor parte de la pantalla*/
  article{
    float: right;
    width:84%;
  }
  aside{
    float: left;
    width:14%;
  }
  .bloqueSeccion{ /*Los bloques "no" importantes ocupan la mitad de la pantalla, asi caben 2 por cada "fila"*/
    float:left;
    margin: 0 auto;
    width:49%;
    text-align: center;
    background-color: lightcyan;
    border: 0.25em solid black;
  }
  .bloqueSeccionImp{ /*Los bloques importantes ocupan todo el ancho de la pantalla*/
    float:left;
    margin: 0 auto;
    width:100%;
    text-align: center;
    background-color: lightcyan;
    border: 0.25em solid black;
  }
}
/* Estilos para movil */
@media only screen and (max-width: 768px){/*El aside se queda arriba y no ocupa ancho de la pantalla*/
  article{
    float: none;
    width:auto;
  }
  aside{
    float: none;
    width:auto;
  }

/*En la version de movil todos los bloques ocupan el 100% del ancho de la panatalla*/

  .bloqueSeccion{
    float:left;
    margin: 0 auto;
    width:100%;
    text-align: center;
    background-color: lightcyan;
    border: 0.25em solid black;
  }
  .bloqueSeccionImp{
    float:left;
    margin: 0 auto;
    width:100%;
    text-align: center;
    background-color: lightcyan;
    border: 0.25em solid black;
  }
}

/*Estilo de los iconos que aparecen en cada seccion*/
.proyIcon{
  width:50%;
  margin: -15%;
}
