.bloqueSeccion{
  float:left;
  margin: 0 auto;
  width:49%;
  text-align: center;
  background-color: lightcyan;
  border: 0.25em solid black;
}
.bloqueSeccionImp{
  float:left;
  margin: 0 auto;
  width:100%;
  text-align: center;
  background-color: lightcyan;
  border: 0.25em solid black;
}
.proyIcon{
  width:50%;
  margin: -15%;
}
