<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width">
  <title>Prueba</title>
  <script type="text/javascript" src="js/vue.js"></script>
</head>
<body>

  <div id="app6">

    <div class="header">
      <h1>{{header.toLocaleUpperCase()}}</h1>

      <a v-bind:href="newEl" target="_blank">Enlace-vBind</a>

      <button v-if = "state === 'default'" @click = "changeState('edit')">Activar edición</button>
      <button v-else @click = "changeState('default')">Desactivar edición</button>

    </div>

    <ol>
      <li v-for="l in elements">{{l.label}}</li>
    </ol>
    <p v-if="elements.length === 0"> NO HAY UNA MIERDA </p>

    <div v-if="state === 'edit'" class="add-item-form">

      <input v-model="newEl.label" type="text" placeholder="Texto a añadir" @keyup.enter="saveElement" >

      <button @click="saveElement" :disabled ="newEl.label.length === 0">Añadir</button>


    </div>

  </div>

  <script type="text/javascript">
  var app6 = new Vue({
    el:"#app6",
    data:{
      state: 'default',
      header: "Asignaturas",
      newEl: {
        label: "",
        esential : false
      },
      elements:[
        {
          label: "Texto magico",
          esential : false
        },
        {
          label: "Elemento de lista",
          esential : true
        },
      ]
    },
    methods:{
      saveElement: function(event) {
        this.elements.push({label: this.newEl.label,
                            esential: this.newEl.esential});
        if(event){
          alert("Añadido a través de " + event.target.tagName)
        }
        this.newEl.label = "";
      },

      changeState: function(newState){
        this.state = newState;
      }

    }
  });
  </script>
</body>
</html>
